.articles { 
    text-align: center;
    padding-top: 30px;
}
.article_titre {
    font-size: 30px;
    text-align: center;
    color: #333;
    border-bottom: 1px solid #f39c12 ;
    display: inline ;
}

.articles_items {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    
}
.article {
    width: 400px;
    height: 100px;
    background: #ffffff;
    border-radius: 5px;
}