.header{
   height: 300px;
   width: 100%;
   background: skyblue;
   position: relative;
 } 

.header_texture {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;left: 0;
    background: url("exemple/corsica_gif.gif"); center no-repeat;
    background-size: cover;
    z-index: 1;
    opacity: 0.6;
}

.header_mask {
    position: absolute;
    bottom: 0;
    background: 0 0;
    height: 42px;
    width: 100%;
    z-index: 10;

}

.header_navbar{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.header_navbar_logo {
    color:none;
    width: 100px;
    left: auto;
}

.header_slogan{
    color: #fff;
    font-size: calc(0.6em + 1vw);
    text-transform: uppercase;
    text-align: center;
}

.header_navbar_menu_link{
    font-size: calc(0.4em + 1vw);
    margin-left: 30px;
    color: #fff;
    text-decoration: none;
}

