#menu-vertical {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  width: 180px;
}
#menu-vertical li {
   background-color:#729EBF;
   background-image:-webkit-linear-gradient(top, #729EBF 0%, #0071d4 100%);
   background-image: linear-gradient(to bottom, #729EBF 0%, #0b88f5 100%);
   border-radius: 6px;
   margin-bottom: 2px;
   box-shadow: 3px 3px 3px #999;
   border:solid 1px #1588ec;
   cursor: pointer;
   transition-duration: 0.4s;

}
#menu-vertical a {
  display:block;
  text-decoration: none;
  color: #fff;   
  padding: 8px 0;
  font-family: verdana;
  font: size 1.2em;      
}
#menu-vertical li:hover ul {
  top: 0;
  left: 180px;
}